In [20]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [21]:
# Store the CSV you created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Fort Saint James,CA,2022-06-07 02:26:24,54.4333,-124.2500,65.88,32,97,6.89
1,1,Barrow,US,2022-06-07 02:26:25,71.2906,-156.7887,28.42,86,100,14.97
2,2,Punta Arenas,CL,2022-06-07 02:26:25,-53.1500,-70.9167,37.51,81,0,13.80
3,3,Marsa Matruh,EG,2022-06-07 02:26:26,31.3525,27.2453,72.73,83,0,9.66
4,4,Georgetown,MY,2022-06-07 02:26:26,5.4112,100.3354,80.55,88,40,12.66

In [22]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [23]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [24]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [37]:
temps == max_temp.tolist()

True

In [38]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))