In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sakakah,SA,2022-06-08 20:51:40,29.9697,40.2064,90.97,15,0,10.60
1,1,Taga,RO,2022-06-08 20:51:40,46.9500,24.0500,68.32,75,26,3.53
2,2,Leticia,CO,2022-06-08 20:50:10,-4.2153,-69.9406,86.05,66,75,4.61
3,3,Hobart,AU,2022-06-08 20:50:30,-42.8794,147.3294,47.05,70,40,11.50
4,4,Brae,GB,2022-06-08 20:51:41,60.3964,-1.3530,49.57,85,100,18.66

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key = g_key)

In [17]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [24]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0)for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights= wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [29]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Leticia,CO,2022-06-08 20:50:10,-4.2153,-69.9406,86.05,66,75,4.61
9,9,Hobyo,SO,2022-06-08 20:51:42,5.3505,48.5268,80.53,74,100,22.12
10,10,Hithadhoo,MV,2022-06-08 20:51:43,-0.6000,73.0833,82.47,72,100,5.46
11,11,Avarua,CK,2022-06-08 20:50:14,-21.2078,-159.7750,78.85,73,24,4.61
12,12,Albany,US,2022-06-08 20:51:43,42.6001,-73.9662,76.46,48,23,1.01
16,16,Butaritari,KI,2022-06-08 20:51:44,3.0707,172.7902,81.73,75,91,11.61
22,22,Altagracia De Orituco,VE,2022-06-08 20:51:46,9.8601,-66.3814,81.73,68,70,6.78
26,26,Puerto Ayora,EC,2022-06-08 20:51:48,-0.7393,-90.3518,76.96,87,53,7.00
29,29,Jalu,LY,2022-06-08 20:51:48,29.0331,21.5482,83.88,33,0,12.08
32,32,Carutapera,BR,2022-06-08 20:51:49,-1.1950,-46.0200,78.03,86,76,7.11

In [33]:
preferred_cities_df.count()

City_ID       183
City          183
Country       183
Date          183
Lat           183
Lng           183
Max Temp      183
Humidity      183
Cloudiness    183
Wind Speed    183
dtype: int64

In [34]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                     City Country  Max Temp      Lat       Lng Hotel Name
2                 Leticia      CO     86.05  -4.2153  -69.9406
9                   Hobyo      SO     80.53   5.3505   48.5268
10              Hithadhoo      MV     82.47  -0.6000   73.0833
11                 Avarua      CK     78.85 -21.2078 -159.7750
12                 Albany      US     76.46  42.6001  -73.9662
16             Butaritari      KI     81.73   3.0707  172.7902
22  Altagracia De Orituco      VE     81.73   9.8601  -66.3814
26           Puerto Ayora      EC     76.96  -0.7393  -90.3518
29                   Jalu      LY     83.88  29.0331   21.5482
32             Carutapera      BR     78.03  -1.1950  -46.0200

In [35]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [43]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [42]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Leticia,CO,86.05,-4.2153,-69.9406,Hotel Amazon Bed and Breakfast / Hotel Amazon B&B
9,Hobyo,SO,80.53,5.3505,48.5268,Iftin hotel hobyo
10,Hithadhoo,MV,82.47,-0.6000,73.0833,Scoop Guest House
11,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
12,Albany,US,76.46,42.6001,-73.9662,
16,Butaritari,KI,81.73,3.0707,172.7902,Isles Sunset Lodge
22,Altagracia De Orituco,VE,81.73,9.8601,-66.3814,Posada Quinta Mi Refugio
26,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
29,Jalu,LY,83.88,29.0331,21.5482,صاحبة الفخامة
32,Carutapera,BR,78.03,-1.1950,-46.0200,Lidera

In [47]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]