## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Pacifica,US,37.6138,-122.4869,99.23,64,20,25.32,few clouds
1,1,Opuwo,NaN,-18.0607,13.8400,60.15,40,0,7.72,clear sky
2,2,Castro,BR,-24.7911,-50.0119,55.94,93,100,4.23,overcast clouds
3,3,Ayan,RU,56.4500,138.1667,43.12,91,97,0.89,overcast clouds
4,4,San Patricio,US,28.0170,-97.5169,101.12,44,5,21.00,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would prefer for your trip? "))
max_temp = float(input("What is the maximum temperature you would prefer for your trip? "))

What is the minimum temperature you would prefer for your trip? 30
What is the maximum temperature you would prefer for your trip? 150

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Pacifica,US,37.6138,-122.4869,99.23,64,20,25.32,few clouds
1,1,Opuwo,NaN,-18.0607,13.8400,60.15,40,0,7.72,clear sky
2,2,Castro,BR,-24.7911,-50.0119,55.94,93,100,4.23,overcast clouds
3,3,Ayan,RU,56.4500,138.1667,43.12,91,97,0.89,overcast clouds
4,4,San Patricio,US,28.0170,-97.5169,101.12,44,5,21.00,clear sky
5,5,San Quintin,MX,30.4833,-115.9500,73.15,60,1,8.55,clear sky
6,6,Husavik,IS,66.0449,-17.3389,42.57,95,100,9.01,overcast clouds
7,7,Sola,VU,-13.8833,167.5500,81.27,89,20,0.00,few clouds
8,8,Nome,US,64.5011,-165.4064,59.07,29,0,17.27,clear sky
9,9,Albany,US,42.6001,-73.9662,75.16,48,10,1.01,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                6
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Pacifica,US,37.6138,-122.4869,99.23,64,20,25.32,few clouds
2,2,Castro,BR,-24.7911,-50.0119,55.94,93,100,4.23,overcast clouds
3,3,Ayan,RU,56.4500,138.1667,43.12,91,97,0.89,overcast clouds
4,4,San Patricio,US,28.0170,-97.5169,101.12,44,5,21.00,clear sky
5,5,San Quintin,MX,30.4833,-115.9500,73.15,60,1,8.55,clear sky
...,...,...,...,...,...,...,...,...,...,...
687,687,Sayyan,YE,15.1718,44.3244,67.08,28,74,8.05,broken clouds
688,688,Tazovskiy,RU,67.4667,78.7000,57.24,56,100,8.32,overcast clouds
689,689,North Platte,US,41.1239,-100.7654,85.98,37,0,6.91,clear sky
690,690,Qurbus,TN,36.8167,10.5687,71.64,78,0,21.81,clear sky
691,691,Cornwall,CA,45.0181,-74.7281,68.38,64,0,11.50,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Pacifica,US,99.23,few clouds,37.6138,-122.4869,
2,Castro,BR,55.94,overcast clouds,-24.7911,-50.0119,
3,Ayan,RU,43.12,overcast clouds,56.4500,138.1667,
4,San Patricio,US,101.12,clear sky,28.0170,-97.5169,
5,San Quintin,MX,73.15,clear sky,30.4833,-115.9500,
6,Husavik,IS,42.57,overcast clouds,66.0449,-17.3389,
7,Sola,VU,81.27,few clouds,-13.8833,167.5500,
8,Nome,US,59.07,clear sky,64.5011,-165.4064,
9,Albany,US,75.16,clear sky,42.6001,-73.9662,
10,Aklavik,CA,49.89,overcast clouds,68.2191,-135.0107,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.count()

City                   686
Country                686
Max Temp               686
Current Description    686
Lat                    686
Lng                    686
Hotel Name             686
dtype: int64

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Pacifica,US,99.23,few clouds,37.6138,-122.4869,"Pacifica Lighthouse, Trademark Collection by W..."
2,Castro,BR,55.94,overcast clouds,-24.7911,-50.0119,CHACARA BAILLY
3,Ayan,RU,43.12,overcast clouds,56.4500,138.1667,Gostinitsa
4,San Patricio,US,101.12,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
5,San Quintin,MX,73.15,clear sky,30.4833,-115.9500,Don Eddie's Sport Fishing Center
6,Husavik,IS,42.57,overcast clouds,66.0449,-17.3389,Bjarnabúð
7,Sola,VU,81.27,few clouds,-13.8833,167.5500,Leumerus Bungalows
8,Nome,US,59.07,clear sky,64.5011,-165.4064,Dredge 7 Inn
10,Aklavik,CA,49.89,overcast clouds,68.2191,-135.0107,Aklavik Inn
11,Khatanga,RU,39.97,overcast clouds,71.9667,102.5000,"""Khatanga"""

In [11]:
clean_hotel_df.count()

City                   613
Country                613
Max Temp               613
Current Description    613
Lat                    613
Lng                    613
Hotel Name             613
dtype: int64

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))